<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="viksa" value="https://www.viksa.ba"></add>
		<add key="novosti" value="https://novosarajevo.ba/o-opcini/sve-novosti/"></add>
        <add key="aktuelni-konkursi" value="https://novosarajevo.ba/konkursi/aktuelni-konkursi/"></add>
		<add key="arhiva-konkursi" value="https://novosarajevo.ba/konkursi/arhiva-konkursa/"></add>
		<add key="aktuelne-javne-rasprave" value="https://novosarajevo.ba/javne-rasprave/aktuelne-javne-rasprave/"></add>
		<add key="arhiva-javnih-rasprava" value="https://novosarajevo.ba/javne-rasprave/arhiva-javnih-rasprava/"></add>
		<add key="aktuelni-javni-pozivi" value="https://novosarajevo.ba/javni-pozivi/aktuelni-javni-pozivi/"></add>
		<add key="arhiva-javnih-poziva" value="https://novosarajevo.ba/javni-pozivi/arhiva-javnih-poziva/"></add>
		<add key="aktuelne-javne-nabavke" value="https://novosarajevo.ba/javne-nabavke/aktuelne-javne-nabavke/"></add>
		<add key="arhiva-javne-nabavke" value="https://novosarajevo.ba/javne-nabavke/arhiva-javne-nabavke/"></add>
		<add key="NovoSarajevo-ads-list" value="//*[@class='wpv-loop js-wpv-loop']//a[@href]"></add>
		<add key="article-date" value="//*[@class='article-date']//span"></add>
		<add key="document-link" value="//*[@class='article-content-inner']//a[@href]"></add>
		<add key="article-title" value="//*[@class='article-content-inner']//h2"></add>
		<add key="article-content" value="//*[@class='article-content']//p"></add>
	</appSettings>
</configuration>